<!doctype html>
<html>
    <head>
        <title>Baseball Weather</title>
    </head>
    <body>
        <ul>
            <li><a href="/ari">/ari</a></li>
            <li><a href="/atl">/atl</a></li>
            <li><a href="/bal">/bal</a></li>
            <li><a href="/bos">/bos</a></li>
            <li><a href="/chc">/chc</a></li>
            <li><a href="/cws">/cws</a></li>
            <li><a href="/cin">/cin</a></li>
            <li><a href="/cle">/cle</a></li>
            <li><a href="/col">/col</a></li>
            <li><a href="/det">/det</a></li>
            <li><a href="/hou">/hou</a></li>
            <li><a href="/kc">/kc</a></li>
            <li><a href="/laa">/laa</a></li>
            <li><a href="/lad">/lad</a></li>
            <li><a href="/mia">/mia</a></li>
            <li><a href="/mil">/mil</a></li>
            <li><a href="/min">/min</a></li>
            <li><a href="/nym">/nym</a></li>
            <li><a href="/nyy">/nyy</a></li>
            <li><a href="/oak">/oak</a></li>
            <li><a href="/phi">/phi</a></li>
            <li><a href="/pit">/pit</a></li>
            <li><a href="/sd">/sd</a></li>
            <li><a href="/sea">/sea</a></li>
            <li><a href="/sf">/sf</a></li>
            <li><a href="/stl">/stl</a></li>
            <li><a href="/tb">/tb</a></li>
            <li><a href="/tex">/tex</a></li>
            <li><a href="/tor">/tor</a></li>
            <li><a href="/was">/was</a></li>
        </ul>
    </body>
</html>